/* .swal-footer {
    text-align: center;
  } */
.profileTitles {
  font-family: Montserrat;
  font-size: 1.5rem;
}

.profileImgInput {
  background-color: transparent;
  width: 60%;
  margin: 20px auto;
  color: white;
}

.imgProfileDiv {
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profileForm {
  background-color: #162959;
  border-radius: 8px;
}

.profileContainer {
  margin-top: 1rem;
}

.profileUser {
  display: flex;
}

.profileUser input {
  width: 82%;
}

.profileUser button {
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #dc3545;
  color: white;
}

.profileBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  margin: 10px auto;
  margin-top: 1rem;
  width: 7rem;
  cursor: pointer;
  text-align: center;
}

.profileBtn.disabled {
  background-color: #da747e;
}

.profileInput {
  background-color: transparent;
  color: #a2a2a2;
  border: 1px solid #a2a2a24b;
}

.otpBtn {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  margin: 10px auto;
}

.profileTitle {
  color: white;
  margin-top: 6.5rem;
  text-align: start;
}

.userDetails p {
  color: white;
  text-align: start;
  margin-bottom: 0rem;
  margin-top: 10px;
}

.userDetails input {
  width: 100%;
  padding: 6px;
  background-color: transparent;
  border: 1px solid #6a6d7481;
  border-radius: 6px;
  color: rgb(177, 167, 167);
}

.profileImg {
  width: 50%;
  background-color: transparent;
  color: white;
  margin: 1rem auto;
}

.errorMsg {
  margin: -0.4rem 0;
  font-weight: 500;
}

@media only screen and (max-width: 1080px) {
  .profileImgInput {
    width: 80%;
  }

  .profileUser input {
    width: 78.7%;
  }
}

@media only screen and (max-width: 990px) {
  .profileImgInput {
    width: 80%;
  }

  .profileUser input {
    width: 70.5%;
  }
}

@media only screen and (max-width: 725px) {
  .profileImgInput {
    width: 80%;
  }

  .profileUser input {
    width: 81.2%;
  }
}

@media only screen and (max-width: 535px) {
  .profileImgInput {
    width: 80%;
  }

  .profileUser input {
    width: 74.4%;
  }
}

@media only screen and (max-width: 394px) {
  .profileImgInput {
    width: 80%;
  }

  .profileUser input {
    width: 71.5%;
  }
}

@media only screen and (max-width: 361px) {
  .profileImgInput {
    width: 80%;
  }

  .profileUser input {
    width: 70.5%;
  }
}
