.login-form h3 {
  margin-bottom: 30px;
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-weight: 600;
  position: relative;
}

.upperArrowIcon {
  border-radius: 35px;
  position: fixed;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
  background-color: #15407f;
  color: #ffffffe8;
}
.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upperArrowIcon:hover {
  border: 4px solid #e1d7ba;
}

/* Wallet CSS */
.titleWallet {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%) !important;
}

.iconClose {
  background-color: #1a1a25;
  border: none;
  color: white;
}

.iconClose:hover {
  background-color: #1a1a25;
  border: none;
  color: white;
}

.alertWalletDiv {
  margin-top: -2.5rem;
}

.walletIcon {
  width: 40px;
}

.wallet-texts {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
}

.dialogDiv-coinbase {
  background-color: #060c13;
  color: white;
}

.coinbase-dialog {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.click-here {
  cursor: pointer;
}

.contents {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #a2a2a2;
  text-align: center;
  margin-bottom: 0rem;
}

.NftDetailsDiv {
  margin-top: 35px;
}

.contentDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.walletDiv span {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  font-weight: bold;
}

.walletDiv {
  cursor: pointer;
  border: none;
  text-align: center;
  padding-top: 26px;
  color: #a2a2a2;
  /* font-family: Montserrat; */
  font-weight: bold;
  background-color: #060c13 !important;
}

.walletModal_icon {
  margin-left: 0% !important;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}

.imgWallet {
  width: 50px !important;
  margin: 0 auto;
}

.dialogWallet {
  background-color: #060c13;
  color: white;
}

.dialogDiv {
  border-radius: 20px;
}

.walletName {
  font-size: 1rem;
  color: #a2a2a2;
}

.walletFont {
  margin-right: 6px;
}

.contents1 {
  color: #a2a2a2;
  text-decoration: none;
}

.contents1:hover {
  color: #fff;
}

.walletdiv {
  display: flex;
  align-items: center;
  justify-content: end;
}

.connectMenu {
  border: none;
  background-color: rgb(237, 41, 41);
  color: white;
  padding-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.wait {
  color: #ff343f;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.loaders {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #db3450;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal_class {
  background-color: #0c2347;
}

.swal-modal {
  background-color: #0c2347;
}

/* .modal_class_success .swal-icon::before {
  background-color: transparent;
}

.modal_class_success .swal-icon::after {
  background-color: transparent;
} */

.swal-icon--success__hide-corners {
  background-color: transparent;
}

.success {
  color: #ff343f;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.extraCare {
  margin-top: 15px;
}

.swal-text {
  text-align: center;
  color: #ff343f;
  font-weight: normal;
}

/* swal */
.modal_class_success {
  background-color: #2d313a;
}

.swal-text {
  color: #fff;
  text-align: center !important;
}

/* .modal_class_success .swal-icon::before {
  background-color: transparent;
}

.modal_class_success .swal-icon::after {
  background-color: transparent;
} */

.swal-icon--success__hide-corners {
  background-color: transparent;
}

.address {
  font-weight: normal;
  width: 80%;
  color: #8fb9d4;
}

.swal-content {
  padding: 0 20px;
  margin-top: 9px;
  font-size: 13px;
  overflow-wrap: break-word !important;
  color: white;
}

.swal-title {
  color: #ff343f;
}

.swal-text {
  color: #fff;
}

.slick-dots {
  display: block !important;
  position: static !important;
}

.nonverifide {
  color: #fff !important;
}

.swal-icon--success:after,
.swal-icon--success:before {
  background-color: inherit !important;
}

/*      *Update & Edit modal*     */

.model {
  background-color: #303651 !important;
  padding-top: 70px;
  padding-right: 50px;
}

@media only screen and (min-width: 700px) {
  .orderDetailsModal {
    min-width: 900px !important;
  }
}
