.login-form h3 {
  margin-bottom: 30px;
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-weight: 600;
  position: relative;
}

.upperArrowIcon {
  border-radius: 35px;
  position: fixed;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
  background-color: #15407f;
  color: #ffffffe8;
}
.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upperArrowIcon:hover {
  border: 4px solid #e1d7ba;
}
.modal_class {
  background-color: #0c2347;
}

.swal-modal {
  background-color: #0c2347;
}

.swal-icon--success__hide-corners {
  background-color: transparent;
}

.success {
  color: #ff343f;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

.extraCare {
  margin-top: 15px;
}

.swal-text {
  text-align: center;
  color: #ff343f;
  font-weight: normal;
}

/* swal */
.modal_class_success {
  background-color: #2d313a;
}

.swal-text {
  color: #fff;
  text-align: center !important;
}

.swal-icon--success__hide-corners {
  background-color: transparent;
}

.address {
  font-weight: normal;
  width: 80%;
  color: #8fb9d4;
}
.swal-content {
  padding: 0 20px;
  margin-top: 9px;
  font-size: 13px;
  overflow-wrap: break-word !important;
  color: white;
}

.swal-title {
  color: #ff343f;
}

.swal-text {
  color: #fff;
}

.swal-icon--success:after,
.swal-icon--success:before {
  background-color: inherit !important;
}


