.kycMainArea {
  min-height: 100vh;
  color: white;
}

.imageWidth {
  width: 300px !important;
  max-width: 100% !important;
}

.tab-btn {
  background: transparent;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  outline: none;
  /* color: $bodyColor; */
  cursor: pointer;
}

/* .nav {
  background: #000 !important;
} */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #415059;
  border-color: transparent;
  border-bottom: 3px solid #992c95;
}

.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #415059;
  border-bottom: 3px solid #992c95;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom: 3px solid #992c95;
  color: #fff;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border: none;
}

.react-tabs__tab:focus:after {
  content: unset;
}

#dslKycLogo {
  height: 65px;
  width: 65px;
}

.dslFs {
  font-size: 24px;
  font-weight: bold;
  padding-left: 8px;
  color: #fff !important;
}

.react-tabs__tab--selected {
  color: #ffc107;
  background: unset !important;
  border-color: unset !important;
  border-radius: unset !important;
  border: unset !important;
}

@media only screen and (max-width: 576px) {
  #dslKycLogo {
    width: 55px;
    height: 50px;
  }

  .dslFs {
    display: none;
  }
}